{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'catalog:blog_create' %}" class="btn btn-primary mb-3">Добавить блог</a>
            </div>
        </div>
        <div class="row">
            {% for object in object_list %}
                {% load mytags %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{% mediapath object.image %}" alt="Thumbnail image">
                        <div class="card-body">
                            <h5 class="card-title"><a
                                    href="{% url 'catalog:blog_details' pk=object.id %}">{{ object.name }}</a></h5>
                            <p class="card-text">{{ object.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'catalog:blogs_update' object.pk %}"
                                   class="btn btn-warning">Изменить</a>
                                <a href="{% url 'catalog:blogs_delete' object.pk %}" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'catalog:products' %}" class="btn btn-primary"><< Назад</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}