{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">
                    Магазин МСК<br>
                    Магазин СПБ
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <h1>Напишите нам!</h1>
                    <input class="form-control mb-2" name="name" placeholder="name"/>
                    <input class="form-control mb-2" name="email" placeholder="email"/>
                    <textarea class="form-control mb-2" name="message" placeholder="message"></textarea>
                    <button type="submit" class="btn btn-primary form-control">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}