<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: black;
            background: url(https://img.freepik.com/premium-vector/set-healthy-food-cartoons_18591-24543.jpg?w=2000) center center;
            background-size: 35%;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@m" uk-grid>
      <div>
        <h1>ДОБРО ПОЖАЛОВАТЬ!!!</h1>
        <p>ПРОДУКТЫ ПО ДОСТУПНЫМ ЦЕНАМ!!!</p>
        <p>ОТ ВЫБОРА ГЛАЗА РАЗБЕГАЮТСЯ!!!</p>
        <a href="{% url 'contact' %}" class="btn btn-primary">Чего ждем? Заходим!</a>
        <br>
        <a href="{% url 'product_detail' %}" class="btn btn-primary">Cписок товаров!</a>
      </div>
    </div>
  </div>
</body>
</html>